<div class="c-table__desktop">
  <app-meses-filter
    (filter$)="getAll($event)">
  </app-meses-filter>

  <app-table-custom [items]="dataSource" *ngIf="dataSource.length > 0">
    <ng-template appTableHeader>
      <tr>
        <th id="1">Mês</th>
        <th id="2" align="center">Ações</th>
      </tr>
    </ng-template>
    <ng-template appTableBody let-item>
      <tr>
        <td><p>{{ item | meses  }}</p></td>
        <td>
            <a [routerLink]="['/contas/', ano,  'detalhes-mensal', item]">
              <button class="button-custom-secondary mr-2" title="detalhes do mês">
                <span class="las la-arrow-right"></span>
              </button>
            </a>
        </td>
      </tr>
    </ng-template>
    <ng-template appTableEmpty>
      <tr>
        <td colspan="11" class="text-center">
          Nenhum registro foi encontrado
        </td>
      </tr>
    </ng-template>
  </app-table-custom>
  </div>

  <div class="c-table__mobile">
    <app-card-table
      [dataSource]="dataSource">
    </app-card-table>
  </div>
