.c-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.c-card__single {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 2px;
}

.c-card__single:hover {
  background: var(--primary-color);
  span {
    color: var(--white-color)!important;
  }
  h1 {
    color: var(--white-color);
  }
}

.c-card__single div:last-child span{
  font-size: 3rem;
  color: var(--primary-color);
}

.c-card__single div:first-child span {
  color: var(--text-gray-color);
}
