
  <div class="c-cards">
    <div class="c-card__single">
      <div class="c-card__single--div">
        <h1>1</h1>
        <span >Usuarios</span>
      </div>
      <div>
        <span class="las la-users"></span>
      </div>
    </div>

    <div class="c-card__single">
      <div>
        <h1>7</h1>
        <span>Tipos</span>
      </div>
      <div>
        <span class="las la-atom"></span>
      </div>
    </div>

    <div class="c-card__single">
      <div>
        <h1>54</h1>
        <span>Atualizações</span>
      </div>
      <div>
        <span class="las la-school"></span>
      </div>
    </div>

    <div class="c-card__single">
      <div>
        <h1>{{ dataSource }}</h1>
        <span>Dragões</span>
      </div>
      <div>
        <span class="las la-dragon"></span>
      </div>
    </div>

  </div>
